<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="Model1Container" connectionString="metadata=res://*/Rockmelon.csdl|res://*/Rockmelon.ssdl|res://*/Rockmelon.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=RM;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>