@using Rockmelon.Domain
@using Rockmelon.Helpers
@model Rockmelon.Site.Game.Models.GameModel

<div class="main">
    <h1> Xbox Review </h1>
     @Html.Raw(Html.Grid("games-table", Model.Games))
    
</div>
<div id="detail-popup" style="display:none;">
</div>
<script type="text/javascript">
    

    $(document).ready(function ()
    {
        $("#games-table").tablesorter({ sortList: [[2, 1], [0, 0], [1, 0]] });
        $("#detail-popup").dialog({
            autoOpen: false, title: 'Title', width: 400, height: 200, modal: true
        });
    });

    function EditGame(gameId)
    {
        var url = '@(Url.Action("Detail", new { Controller = "Game"}))';
        $.ajax({
            url: url,
            async: false,
            type: 'POST',
            data: { gameId: gameId },
            success: function (data)
            {
                $('#detail-popup').html(data);
            },
            error: function () { alert('An error occured.'); }
        });
        $("#detail-popup").dialog("open");
    }
</script>