<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ApplicationContext" connectionString="metadata=res://*/Rockmelon.csdl|res://*/Rockmelon.ssdl|res://*/Rockmelon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=RM1;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>